.wrapper {
  background-color: #4e54c8;
}

.footerContainer {
  height: 300px !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center;
  justify-content: center;
}

.footerHeader {
  color: #fff !important;
}

.footerColumn {
  display: flex;
  flex-direction: column;
  line-height: 2;
  padding-bottom: 12px;
}

a {
  color: #fff 
}

.copyright {
  color: #fff;
  padding-top: 12px;
}